<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EMGU.CV" version="4.1.0.3420" targetFramework="net45" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.CodeQuality.Analyzers" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.NetCore.Analyzers" version="2.9.3" targetFramework="net45" />
  <package id="Microsoft.NetFramework.Analyzers" version="2.9.3" targetFramework="net45" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net45" />
</packages>